* {
  margin: 0;
  padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,500&display=swap');

header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to top, #111, #0000003a),
    /* Gradient */ url("./donate_assets/images/donation0.jpg") center/cover
      no-repeat; /* Image */
}
.heading {
color: #fff;
text-align: center;
font-family: 'Roboto', sans-serif;
}
.heading h1{
    font-size: 65px;
    padding-top: 150px;
}
.heading p{
    font-size: 18px;
}
.btn_donate{
    background-color: #FF5959;
    padding: 16px 20px;
    color: #fff;
    font-weight: 700;
    font-size: large;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}
.btn_donate:hover{
    border: 1px solid #fff;
}
.donate_now{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 150px;
}
.donate_now h1{
    font-size: 55px;
}
.donate_now p{
    font-size: 18px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 35px;
}